.title {
	text-align: center;
	text-shadow: 1px 1px #FF0000;
}
.display {
	display: inline-block;
	width: 80%;
	overflow: hidden;
	background-color: #e19f9d;
	border-radius: 10px;
	padding: 10px;
	text-align: left;
}

input {
	box-sizing: border-box;
	width: 100%;
	/* font-size: 1em; */
}
canvas {
	background-color: black;
}
#cBlockchain{
	/*position: relative;*/
    width: 60%;
	/* width: 795px; */
	height: 20em;

	/*border: 3px solid red;*/
	vertical-align: top;
	overflow-y: scroll;
	overflow-x: hidden;
	resize: vertical;
}

#ledger {
	margin-left: auto;
	margin-right: auto;
}

#ledger td:nth-child(2){
	text-align: right;
}

/* Miner Hud */
#minerHUD {
	text-align: center;
}
#VP{
	width: 95%;
	height: auto;
	padding: .5em;
	/* font-size:.8em;
	margin-bottom: .3em; */
}

/* Transaction History */
#transactionHistoryDiv {
	overflow-y: scroll;
	height: 28em;
	text-align: center;
}
.pInTransHistDiv {margin: 0;}
.pInTransHistDiv:first-of-type {padding: 10px;}
#p1 {
	font-size: .8em;
}

.formButton {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	margin-top: 5px;
	height: 2em;
	font-size: 1em;
	padding: 0 .5em;
}

#popupVerify{
	text-align: left;
}
#mBodyWrapper{
	white-space: nowrap;
	overflow-x: hidden;
}
.mBody{
	display: inline-block;
	vertical-align: top;
	margin-left: 1em;
}
#modalTrans{
	padding: 5px;
	width: 18em;
	background: #ff6666;
	font-size: 1em;
	/* Height to avoid p increasing in size */
	height: 13em;
}
.modalText{
	width: auto;
	background: #ffffff;
	margin-bottom: 0;
	/* border: 2px solid red; */
	font-size: 1.2em;
}
#found{
	color: red;
}
.hashresult{
	display: inline;
}
#popupfooter {
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	/*-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;*/
}
.mButton{
	margin: 1em;
}


.pane::-webkit-scrollbar, #transactionHistoryDiv::-webkit-scrollbar {
  display: none;
}
